In [66]:
import pandas as pd
import numpy as np

In [100]:
# naver news 전처리
import pandas as pd
import pickle
import re
# 00,01,02,03,04 차례대로 pkl파일 읽어오기
with open(r'C:\Users\jangwj\Downloads\naver_news_data_pkl\total_news_data_04.pkl', 'rb') as f:
    df_naver = pd.DataFrame(pickle.load(f))

ch_df = df_naver[df_naver[1].apply(lambda x: False if x.find('@')==-1 else True)][1].str.split('@').str[0].apply(lambda x: ' '.join(re.split(r'[(, )]', x)[:-1]))
df_naver.loc[ch_df.index,1] = ch_df
df_naver[9] = df_naver[9].apply(lambda x: ' '.join([_ for _ in x if '\t' not in _ and '\n' not in _]))
df_naver[12] = '세계'
df_naver = df_naver[[12,5,8,2,0,1,3,4,9,11,7]]
df_columns = ['cat1_name', 'cat2_name', 'platform_name', 'title', 'press', 'writer', 'date_upload', 'date_fix', 'content', 'sticker', 'url']
df_naver.columns = df_columns

# 결측값은 모두 None으로 변경
df_naver.loc[df_naver[df_naver['date_fix']=='null'].index, 'date_fix'] = None
df_naver.loc[df_naver[df_naver['writer']=='null'].index, 'writer'] = None

In [101]:
df_naver.head()

,cat1_name,cat2_name,platform_name,title,press,writer,date_upload,date_fix,content,sticker,url
0,세계,미국/중남미,Naver,“나체로 찍는다고 안했잖아”…수천억대 소송한 女배우의 정체,매일경제,이상규 매경닷컴 기자,2023-05-26 11:56:00,None,1968년 개봉한 영화 ‘로미오와 줄리엣’의 남녀 주연배우인 올리비아 핫세(71)와...,"{'touched': 13, 'warm': 0, 'analytical': 0, 'l...",https://n.news.naver.com/mnews/article/009/000...
1,세계,미국/중남미,Naver,미 언론 “부채한도 협상 근접…2년 간 상한 올리고 정부 지출 제한”,경향신문,박은하 기자,2023-05-26 11:59:04,2023-05-26 15:51:01,미국 연방정부를 디폴트(채무불이행) 위기로 몰아넣을 수 있는 부채한도 협상이 합의에...,"{'touched': 0, 'warm': 0, 'analytical': 1, 'li...",https://n.news.naver.com/mnews/article/032/000...
2,세계,미국/중남미,Naver,"백악관·공화당, 부채한도 합의 근접… “2년간 올리되 연방정부 지출은 삭감”",문화일보,김남석 기자,2023-05-26 12:04:29,None,워싱턴 = 김남석 특파원 namdol@munhwa.com 미국 정부의 채무불이행(디...,"{'touched': 0, 'warm': 0, 'analytical': 1, 'li...",https://n.news.naver.com/mnews/article/021/000...
3,세계,미국/중남미,Naver,통일부 \'북미 지역 해외 이산가족 실태조사\' 실시… 11월까지,뉴스1,김서연 기자,2023-05-26 11:54:38,2023-05-26 11:55:10,(서울=뉴스1) 김서연 기자 = 통일부가 '2023년 북미지역 해외 이산가족 실태조...,"{'touched': 0, 'warm': 0, 'analytical': 0, 'li...",https://n.news.naver.com/mnews/article/421/000...
4,세계,미국/중남미,Naver,미 의회 난입 주도한 무장단체 설립자에게 징역 18년,경향신문,박은하 기자,2023-05-26 12:24:03,2023-05-26 16:58:03,미국 1·6 의회 난입 사태를 주도한 극우단체 지도자에게 미 법원이 징역 18년형을...,"{'touched': 0, 'warm': 0, 'analytical': 0, 'li...",https://n.news.naver.com/mnews/article/032/000...

In [102]:
df_naver.head().T

,0,1,2,3,4
cat1_name,세계,세계,세계,세계,세계
cat2_name,미국/중남미,미국/중남미,미국/중남미,미국/중남미,미국/중남미
platform_name,Naver,Naver,Naver,Naver,Naver
title,“나체로 찍는다고 안했잖아”…수천억대 소송한 女배우의 정체,미 언론 “부채한도 협상 근접…2년 간 상한 올리고 정부 지출 제한”,"백악관·공화당, 부채한도 합의 근접… “2년간 올리되 연방정부 지출은 삭감”",통일부 \'북미 지역 해외 이산가족 실태조사\' 실시… 11월까지,미 의회 난입 주도한 무장단체 설립자에게 징역 18년
press,매일경제,경향신문,문화일보,뉴스1,경향신문
writer,이상규 매경닷컴 기자,박은하 기자,김남석 기자,김서연 기자,박은하 기자
date_upload,2023-05-26 11:56:00,2023-05-26 11:59:04,2023-05-26 12:04:29,2023-05-26 11:54:38,2023-05-26 12:24:03
date_fix,None,2023-05-26 15:51:01,None,2023-05-26 11:55:10,2023-05-26 16:58:03
content,1968년 개봉한 영화 ‘로미오와 줄리엣’의 남녀 주연배우인 올리비아 핫세(71)와...,미국 연방정부를 디폴트(채무불이행) 위기로 몰아넣을 수 있는 부채한도 협상이 합의에...,워싱턴 = 김남석 특파원 namdol@munhwa.com 미국 정부의 채무불이행(디...,(서울=뉴스1) 김서연 기자 = 통일부가 '2023년 북미지역 해외 이산가족 실태조...,미국 1·6 의회 난입 사태를 주도한 극우단체 지도자에게 미 법원이 징역 18년형을...
sticker,"{'touched': 13, 'warm': 0, 'analytical': 0, 'l...","{'touched': 0, 'warm': 0, 'analytical': 1, 'li...","{'touched': 0, 'warm': 0, 'analytical': 1, 'li...","{'touched': 0, 'warm': 0, 'analytical': 0, 'li...","{'touched': 0, 'warm': 0, 'analytical': 0, 'li..."
url,https://n.news.naver.com/mnews/article/009/000...,https://n.news.naver.com/mnews/article/032/000...,https://n.news.naver.com/mnews/article/021/000...,https://n.news.naver.com/mnews/article/421/000...,https://n.news.naver.com/mnews/article/032/000...

In [103]:
df_naver.loc[(df_naver['content'] == ' '), 'content'] = df_naver['title']  # content 빈 셀을 title로 대체

In [104]:
df_naver.loc[(df_naver['content'] == ''), 'content'] = df_naver['title']  # content 빈 셀을 title로 대체

In [105]:
df_naver['content'].head()  # 본문내용만 필요함

0    1968년 개봉한 영화 ‘로미오와 줄리엣’의 남녀 주연배우인 올리비아 핫세(71)와...
1    미국 연방정부를 디폴트(채무불이행) 위기로 몰아넣을 수 있는 부채한도 협상이 합의에...
2    워싱턴 = 김남석 특파원 namdol@munhwa.com 미국 정부의 채무불이행(디...
3    (서울=뉴스1) 김서연 기자 = 통일부가 '2023년 북미지역 해외 이산가족 실태조...
4    미국 1·6 의회 난입 사태를 주도한 극우단체 지도자에게 미 법원이 징역 18년형을...
Name: content, dtype: object

In [106]:
df_naver_content=df_naver['content']

In [82]:
# !pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

WARNING: You are using pip version 22.0.4; however, version 23.2.1 is available.
You should consider upgrading via the 'C:\Users\jangwj\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [107]:
df_naver_content.to_excel('naver_content_04.xlsx')  # 00,01,02,03,04 차례대로 엑셀파일 생성

In [108]:
df0=pd.read_excel("./naver_content_00.xlsx")
df1=pd.read_excel("./naver_content_01.xlsx")
df2=pd.read_excel("./naver_content_02.xlsx")
df3=pd.read_excel("./naver_content_03.xlsx")
df4=pd.read_excel("./naver_content_04.xlsx")

df_total=pd.concat([df0,df1,df2,df3,df4])

In [ ]:
# print(df_total)

In [109]:
df_total.to_excel(r"C:\Users\jangwj\Desktop\sesac-2023\naver_content\naver_content_total.xlsx",index=False)

In [110]:
df_naver=pd.read_excel(r"C:\Users\jangwj\Desktop\sesac-2023\naver_content\naver_content_total.xlsx")

In [111]:
#df_naver.head()

   Unnamed: 0                                            content
0           0  모로코 강진 발생 사흘 만인 11일(현지 시간) 스페인, 영국 등 해외 구조대가 현...
1           1  북-러 정상회담이 개최되면 블라디미르 푸틴 러시아 대통령은 김정은 북한 국무위원장에...
2           2  “여기 냄새가 이상해요. 아무래도 사람(시신)이 있는 것 같습니다.”  11일(현지...
3           3  그리스 사상 최악의 홍수로 15명의 사망자를 낸 폭풍 ‘대니얼’이 지중해 건너 북아...
4           4  러시아가 북한과의 정상회담에서 유엔 안전보장이사회 대북 제재 문제까지 논의할 수 있...

In [165]:
# 댓글 전처리 내용 파일로 모으기

In [48]:
# naver comment 전처리
import pandas as pd
import pickle
import re
from datetime import datetime
# total_news_data_00.pkl, 01, 02, 03, 04 차례대로 실행
with open(r'C:\Users\jangwj\Downloads\naver_news_data_pkl\total_news_data_00.pkl', 'rb') as f:
    df_naver = pd.DataFrame(pickle.load(f))
df = df_naver[[10,7]]
df.columns = ['comment', 'url']
df = df[df.comment.apply(len)!=0].explode('comment').reset_index(drop=True)
trash, df['comment'], df['user_id'], df['user_name'], df['date_upload'], df['date_fix'], df['good_cnt'], df['bad_cnt'] = zip(*df.comment.values)
df['date_upload'] = [date__[:-5].replace('T', ' ') for date__ in df['date_upload']]
df['date_fix'] = [' '.join(date__[:-5].split('T')) for date__ in df['date_fix']]
df = df[~df.user_id.isna()].reset_index(drop=True)
df_columns = ['user_id', 'user_name', 'comment', 'date_upload', 'date_fix', 'good_cnt', 'bad_cnt', 'url']
df_naver = df[df_columns]

In [ ]:
#df_naver.head()

In [ ]:
#df_naver['comment']

In [51]:
df_naver_comment=df_naver['comment']

In [ ]:
df_naver_comment.to_excel('naver_comment_00.xlsx')  # 00,01,02,03,04 차례대로 엑셀파일 생성

In [17]:
#df_naver_comment.apply(lambda x: x.)
#df_naver_comment[df_naver_comment.apply(lambda x: '독립해라  ' in x)][211507]  # \x00

'독립해라  여권이 필요\x00한나라'

In [ ]:
# 위 5개 엑셀파일 생성 후 한개로 합치기

In [42]:
df0=pd.read_excel("./naver_comment_00.xlsx")
df1=pd.read_excel("./naver_comment_01.xlsx")
df2=pd.read_excel("./naver_comment_02.xlsx")
df3=pd.read_excel("./naver_comment_03.xlsx")
df4=pd.read_excel("./naver_comment_04.xlsx")

df_total=pd.concat([df0,df1,df2,df3,df4])

In [43]:
df_total.to_excel(r"C:\Users\jangwj\Desktop\sesac-2023\naver_content\naver_comment_total_2.xlsx",index=False)

In [ ]:
#df_comment=pd.read_excel(r"C:\Users\jangwj\Desktop\sesac-2023\naver_content\naver_comment_total.xlsx")

In [45]:
# 파일 특정 열 특정 단어 지우기
# 엑셀 파일 읽기
df = pd.read_excel(r'C:\Users\jangwj\Desktop\sesac-2023\naver_content\naver_comment_total_2.xlsx')

# comment열에서 -> \x00 제거
df['comment'] = df['comment'].str.replace('\x00', '')

# 결과를 새로운 엑셀 파일에 저장
df.to_excel(r'C:\Users\jangwj\Desktop\sesac-2023\naver_content\naver_comment_total_02.xlsx', index=False)

# 클렌징(cleansing)

In [ ]:
# 기사 내 이메일 제거
# ...배포를 금지합니다...등 본문내용과는 상관없는 텍스트들 제거
# 뉴스 전처리.txt 파일내에 정리됨

In [ ]:
# 기사본문(content)

In [112]:
df1 = pd.read_excel(r'C:\Users\jangwj\Desktop\sesac-2023\naver_content\naver_content_total.xlsx')

In [ ]:
#df1.head()

In [ ]:
# 기사댓글(comment)

In [48]:
df2 = pd.read_excel(r'C:\Users\jangwj\Desktop\sesac-2023\naver_content\naver_comment_total_01.xlsx')

In [ ]:
#df2.head()

In [50]:
df3 = pd.read_excel(r'C:\Users\jangwj\Desktop\sesac-2023\naver_content\naver_comment_total_02.xlsx')

In [ ]:
#df3.head()

In [ ]:
'''
import pandas as pd
import re

# 가정: df는 DataFrame, df['comment']는 처리하려는 컬럼입니다.
# 이메일 주소 패턴
email_pattern = '[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+'

# 'comment' 컬럼에서 이메일 주소를 찾아서 제거합니다.
df['comment'] = df['comment'].apply(lambda x: re.sub(email_pattern, '', x))
'''

In [54]:
import pandas as pd
import re

In [114]:
#df1['content'].isnull().sum()  # nan 값

17

In [115]:
# 이메일 주소 패턴 제거(nan값이 있으면 공백)
email_pattern = '[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+'
df1['content'] = df1['content'].apply(lambda x: re.sub(email_pattern, '', x) if type(x) != float else '')

In [72]:
# 이메일 주소 패턴 제거(nan값이 있으면 공백)
email_pattern = '[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+'
df2['comment'] = df2['comment'].apply(lambda x: re.sub(email_pattern, '', x) if type(x) != float else '')

In [73]:
# 이메일 주소 패턴 제거(nan값이 있으면 공백)
email_pattern = '[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+'
df3['comment'] = df3['comment'].apply(lambda x: re.sub(email_pattern, '', x) if type(x) != float else '')

### 본문내용과는 상관없는 텍스트들 제거

In [ ]:
#df1.head()

In [ ]:
#df2.head()

In [ ]:
#df3.head()

In [117]:
#df1.isnull().sum()

Unnamed: 0    0
content       0
dtype: int64

In [78]:
#df2.isnull().sum()

Unnamed: 0    0
comment       0
dtype: int64

In [79]:
#df3.isnull().sum()

Unnamed: 0    0
comment       0
dtype: int64

In [118]:
f = open(r'C:\Users\jangwj\Desktop\sesac-2023\naver_content\stopwords.txt', 'r', encoding='utf-8')
stopwords = f.read().split("\n")
print(stopwords)

['트위터 @yonhap_graphics 페이스북 tuney.kr/LeYN1', '트위터 @yonhap_graphics', '▶제보는 카톡 okjebo', '■ 제보하기', '▷ 전화 : 02-781-1234, 4444', '▷ 이메일 : kbs1234@kbs.co.kr', "▷ 카카오톡 : 'KBS제보' 검색, 채널 추가", "▷ 카카오 '마이뷰', 유튜브에서 KBS뉴스를 구독해주세요!", "※ '당신의 제보가 뉴스가 됩니다' [카카오톡] YTN 검색해 채널 추가 [전화] 02-398-8585 [메일] social@ytn.co.kr", '무단전재, 재배포 및 AI 데이터 활용 금지', '리포트 원문보기 중앙일보 중국연구소', '방구석 도쿄통신 뉴스레터 구독하기', '연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23(끝)', '▷ 전화 02-784-4000 ▷ 이메일 mbcjebo@mbc.co.kr ▷ 카카오톡 @mbc제보', '무단복제-재배포 금지', '무단전재 및 수집, 재배포금지', '무단전재 및 재배포 금지', '무단 전재 및 재배포 금지', '무단전재-재배포금지', '무단복제 및 전재 – 재배포금지', '무단전재-재배포 금지', "▶카카오톡: '더팩트제보' 검색▶이메일: jebo@tf.co.kr▶뉴스 홈페이지: http://talk.tf.co.kr/bbs/report/write"]

In [ ]:
# stopwords 리스트 내에 있는 문자열들을 데이터프레임 df1에서 content 컬럼에서 제거해주는 코드

In [119]:
stopwords_pattern = '|'.join(r'\b{}\b'.format(word) for word in stopwords)
df1['content'] = df1['content'].apply(lambda x: re.sub(stopwords_pattern, '', x))

In [121]:
#df1['content'].isnull().sum()

0

In [124]:
#df1.isnull().sum()

Unnamed: 0    0
content       0
dtype: int64

In [89]:
# stopwords 리스트 내에 있는 문자열들을 데이터프레임 df2에서 comment 컬럼에서 제거해주는 코드
# stopwords 리스트 내에 있는 문자열들을 데이터프레임 df3에서 comment 컬럼에서 제거해주는 코드

In [84]:
stopwords_pattern = '|'.join(r'\b{}\b'.format(word) for word in stopwords)
df2['comment'] = df2['comment'].apply(lambda x: re.sub(stopwords_pattern, '', x))

In [85]:
stopwords_pattern = '|'.join(r'\b{}\b'.format(word) for word in stopwords)
df3['comment'] = df3['comment'].apply(lambda x: re.sub(stopwords_pattern, '', x))

In [ ]:
#df1.head()

In [ ]:
#df2.head()

In [ ]:
#df3.head()

In [125]:
df1=df1['content']
df2=df2['comment']
df3=df3['comment']

In [126]:
df1.to_excel(r'C:\Users\jangwj\Desktop\sesac-2023\naver_content\naver_content_final.xlsx', index=False)

In [95]:
df2.to_excel(r'C:\Users\jangwj\Desktop\sesac-2023\naver_content\naver_comment1_final.xlsx', index=False)

In [96]:
df3.to_excel(r'C:\Users\jangwj\Desktop\sesac-2023\naver_content\naver_comment2_final.xlsx', index=False)

In [ ]:
'''
영문만 추출, 제거
영문은 소문자는 a-z, 대문자는 A-Z로 커버할 수 있습니다.

같은 원리로 ^ 유무로 영어만 남기기 혹은 제거 여부를 구분해주실 수 있습니다.

import re

my_str = "안녕하세요 ㅎㅎ. Hello World! 12345?"

eng_str = re.sub(r"[^a-zA-Z\s]", "", my_str) # 영문자 + 공백만 남기기
not_eng_str = re.sub(r"[a-zA-Z]", "", my_str) # 영문자만 제거하기
lower_eng_str = re.sub(r"[^a-z]", "", my_str) # 소문자만 남기기

print(eng_str) #   Hello World 
print(not_eng_str) # 안녕하세요 ㅎㅎ.  ! 12345?
print(lower_eng_str) # elloorld
'''

In [ ]:
#df1.head()

In [ ]:
#df2.head()

In [ ]:
#df3.head()

In [ ]:
# # 영문기사 0.3이상 기준 건수 검색
# df1[df1.apply(lambda x: (len(re.sub('[a-zA-Z]', '', x))+1)/(len(x)+1)) > 0]

In [ ]:
#df1.isnull().sum()